.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 877px;
  width: 877px;
  margin: 0px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  background-position: top 0px right -210px;
  background-repeat: no-repeat;
  z-index: 0;
}
