.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  height: 877px;
  width: 700px;
  margin: 0px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: 900px 900px;
  background-position: top 0px right -0px;
  background-repeat: no-repeat;
  z-index: 0;
}
