/*div {
  border: 1px solid blue;
}*/

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
  position: relative;
  align-items: center;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  display: flex;
  margin: 0px;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-style: bold;
  z-index: 2;
}



.header__subtitle {
  position: absolute;
  margin: 0px;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
}
.link {
  color:#2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  max-width: 765px;
  max-height: 608px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  margin: 0px;
}

.header__square-pic {
  position: absolute;
  margin: 0px;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
  z-index: 0;
}

.two-columns {
  margin: 100px auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0px;
  width: 175px;
  line-height: 1.2;
  color:  #2f80ed;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

}
.two-columns__paragraph:nth-child(2) {
  padding: 30px 0;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bolder;
}
.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  padding-bottom: 20px;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
}

.table {
  width: 1100px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  padding-bottom: 20px;
}

.table__text {
  margin: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:nth-child(3){
  padding-top: 20px;
}
.table__text:nth-child(7){
  padding-top: 20px;
}
.feynman {
  position: relative;
  height: 790px;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom 0px left 0px;
}

.feynman__title {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  z-index: 2;
}

.feynman__subtitle {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  margin: 0px;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
}
.kaufman-triangle {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 877px;
  width: 877px;
  margin: 0px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  background-position: top 0px right -210px;
  background-repeat: no-repeat;
  z-index: 0;
}

.section-title_theme_dark {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  z-index: 2;
}

.section-subtitle_theme_dark {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 2;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.footer {
  display: flex;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  box-sizing: border-box;
}
.footer__columns {
  display: flex;
  margin: 0 auto;
  width: 90%;
  position: relative;
  justify-content: space-between;
}
.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  margin: 0px;
}
.logo_place_footer {
  display: flex;
  justify-content: flex-start;
  width: 183px;
  height: 35px;
}
.footer__author {
  display: flex;
  margin: 18px 0;
  color: white;
  line-height: 25px;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading {
  margin: 0px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
}
.list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin-right: 20px;
}
