body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
table,
td,
form,
dd,
dt,
dl,
hr,
legend {

  margin: 0;

  padding: 0;

}

/*div {
  border: 1px solid blue;
}*/

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
  position: relative;
  align-items: center;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  display: flex;
  margin-left: 64px;
}

.header__title_text {
  margin: 0px;
  line-height: 96px;
  font-size: 102px;
  font-style: bold;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  max-width: 765px;
  max-height: 608px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  margin: 0px;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
  z-index: 0;
}

.two-columns {
  margin: 100px auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__brief_text {
  line-height: 1.2;
  color:  #2f80ed;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__middle-text {
  padding: 30px 0;
}

.middle-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: bolder;
}

.two-columns__paragraph_text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

}

.digits__section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  margin: 0px;
}

.digits__section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits__table {
  width: 1100px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.digits__table_cell {
  width: 250px;
  margin-top: 60px;
}

.table_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
}

.table-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  height: 790px;
  margin-top: 100px;
  background-color: #f2f2f2;
}

.feynman__title {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 648px;
  text-align: center;
}

.feynman__title-font {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  z-index: 2;
  padding: 0px;
  margin: 0px;
}

.feynman__subtitle {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.feynman__subtitle-font {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
}
.link-font {
  text-decoration: none;
}
.feynman__link-font {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__image {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0px;
  bottom: 0px;
  z-index: 1;
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
}

.kaufman__section_title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.kaufman__section_title_font {
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  margin: 0px;
}

.kaufman__section_subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.kaufman__section_subtitle_font {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.kaufmann__table_cell {
  margin-top: 80px;
  width: 200px;
  z-index: 2;
}
.kaufman-triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0px;
  right: -270px;
  z-index: 0;
}
.footer {
  display: flex;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
}
.footer__columns {
  display: flex;
  margin: 0 auto;
  width: 90%;
  position: relative;
  justify-content: space-between;
  align-items: space-around;
}
.footer__columns_content_copyright {
  flex-basis: 711px;
}
.footer__navigation {
  margin-bottom: 16px;
}
.logo_place_footer {
  display: flex;
  justify-content: flex-start;
  width: 183px;
  height: 35px;
}
.footer__author {
  position: absolute;
  bottom: 0px;
  align-items: flex-end;
  margin: 18px 0;
}
.footer__column_heading {
  margin-bottom: 20px;
}
.heading__text {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.copyright__footer {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.column_links_text {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.column_links {
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
}
.links__icons {
  margin-right: 10px;
}
